.ini{
    text-align: center;
    font-style: unset;
    font-size: 20px;
}
.mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(250, 161, 200) 0%, #b8b0ef  100%);
}
#jugador{
    text-align: center;
    font-size: 25px;
    font-style: unset;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
    padding: 10px;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    background: radial-gradient(top, rgb(255, 196, 222) 0%, #c5bef2 100%);
    grid-template-rows: repeat(3, 100px);
    border-radius: 12%;
    gap: 5px;
}
.celda{
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    font-size: 55px;
    cursor: pointer;
    color: black;
    opacity: 0.8;
}
.buton{
    text-align: center;
    margin-top: -15%;
}

#reiniciar{
    background-color:black;
    border-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-style: unset;
    background-color: white;
}

.gato{
    width: 14%;
}