.ini{
    text-align: center;
    font-style: unset;
}
.mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
    padding: 10px;
}
.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    grid-template-rows: repeat(3, 100px);
    border-radius: 12%;
    gap: 5px;
}
.celda{
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    font-size: 55px;
    cursor: pointer;
}
.buton{
    text-align: center;
    margin-top: -15%;
}

#reiniciar{
    background-color:black;
    border-color: white;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    font-style: unset;
    background-color: white;
}

ol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    list-style-type: none;
    padding: 20px;
    border: rgb(0, 0, 0) double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}
.gato{
    width: 14%;
}