.ini{
    text-align: center;
    font-style: unset;
}
.mayor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20%;
    padding: 10px;
}

.game{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    background-color: rgb(70, 240, 223);
    border-radius: 12%;
    gap: 5px;
}

.celda{
    width: 100px;
    height: 100px;
    background-color: white;
    text-align: center;
    font-size: 55px;
    cursor: pointer;
}
.buton{
    text-align: center;
    margin-top: -15%;
}

#reiniciar{
    background-color:rgb(70, 240, 223);
    border-color: rgb(70, 240, 223);
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    background-color: rgb(70, 240, 223)
}

ol{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    list-style-type: none;
    padding: 20px;
    border: rgb(0, 0, 0) double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
}

.gato{
    width: 14%;
}